<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cartridges</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cartridges</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Requests">Служебки на замену</a>
                            </li>
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Отчеты</a>
                                </li>
                            }

                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="navbarDropdown">База</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Printer" asp-action="PrinterCompanies">Принтера</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="CartridgeModel" asp-action="CartridgeModels">Модели картриджей</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="CartridgeIncome" asp-action="Index">Поступления картриджей</a>

                                    @if (User.IsInRole("admin"))
                                    {
                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="DB" asp-action="Index">Обновление базы</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="navbarDropdown">Остальное</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Building" asp-action="Buildings">Сооружения</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Department" asp-action="Departments">Отделы</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-4">
                    <div class="user-icons">
                        <div class="user-profile-menu">
                            @if (User.Identity.IsAuthenticated)
                            {<ul>
                                @if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="navbarDropdown">Работа с пользователями у @User.Identity.Name</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a asp-controller="Account" asp-action="Users" class="nav-link text-dark dropdown-item">Пользователи</a>
                                            <a asp-controller="Account" asp-action="YourAccount" class="nav-link text-dark dropdown-item">Профиль</a>
                                            <form method="post" asp-controller="Account" asp-action="LogOff"class="nav-link text-dark dropdown-item">
                                                <input class="login-menu__link login-menu__link_logOff" type="submit" value="Выход" />
                                            </form></div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="navbarDropdown">Работа с пользователями у @User.Identity.Name</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a asp-controller="Account" asp-action="YourAccount" class="nav-link text-dark dropdown-item">Профиль</a>
                                            <form method="post" asp-controller="Account" asp-action="LogOff"class="nav-link text-dark dropdown-item">
                                                <input class="login-menu__link login-menu__link_logOff" type="submit" value="Выход" />
                                            </form></div>
                                    </li>
                                }
                            </ul>
                            }
                            else
                            {
                            <ul class="navbar-nav flex-grow-1">
                                <li>
                                    <input type="submit" id="loginModal" data-toggle="modal" href="#" data-target="#modal-action-function" class="login-menu__link btn-link" value="Вход" />
                                </li>
                            </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Cartridges - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
<script>
    $('#loginModal').click(function (e) {
        e.preventDefault();
        $('#modal-content').load('@Url.Action("Login", "Account")');
    });
    $('#registerModal').click(function (e) {
        e.preventDefault();
        $('#modal-content').load('@Url.Action("Register", "Account")');
    });
</script>
</body>
</html>
