@model List<PrinterCompanyViewModel>
@using Cartridges.Web.Models
@using Cartridges.Web.Code
@using Cartridges.Web.Models.ViewModel

@{ ViewData["Title"] = "Фирмы производители";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <div class="fade-in">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h1>Фирмы производители</h1></div>
                    <div class="card-body">
                        <div class="row mb-2">
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("admin"))
                                {
                            <div class="col-lg-3">
                                <a id="createPrinterCompanyModal" data-toggle="modal" href="#" data-target="#modal-action-function" class="btn btn-pill btn-block btn-primary">
                                    Добавить производителя
                                </a>
                            </div>
                                }
                            }
                            <div class="col-lg-9">
                                <form asp-controller="PrinterCompany" asp-action="PrinterCompanies" method="get" class="form-inline">
                                    <div class="form-group mb-0 mr-3">
                                        <select name="sortType" id="sortType" class="form-control" data-sortType="@ViewBag.SortType">
                                            <option id="sortType-0" value="0">По названию</option>
                                            <option id="sortType-1" value="1">По названию (в обратном порядке)</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-dark btn-pill btn-sm btnSearch">
                                            <i class="c-icon cil-search">Отсортировать</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Дата добавления</th>
                                    <th>Дата изменения</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.AddedDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedDate)</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                <a asp-controller="Printer" asp-action="PrinterModels" asp-route-printerCompanyId="@item.Id" class="btn btn-info">
                                    <i class="c-icon cil-list">Модели</i>
                                </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("admin"))
                                {
                                <a data-toggle="modal" href="#" data-id="@item.Id" data-target="#modal-action-function" class="btn btn-dark editPrinterCompanyModal">
                                    <i class="c-icon cil-pencil">Редактировать</i>
                                </a>
                                <a data-toggle="modal" href="#" data-id="@item.Id" data-target="#modal-action-function" class="btn btn-danger deletePrinterCompanyModal">
                                    <i class="c-icon cil-trash">Удалить</i>
                                </a>
                                }
                            }
                            </div>
                        </td>
                    </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-function", AreaLabeledId = "modal-action-function-label", Size = ModalSize.Large })

@section scripts
    {
    <script>
        $('#createPrinterCompanyModal').click(function (e) {
            e.preventDefault();
            $('#modal-content').load('@Url.Action("AddPrinterCompany", "Printer")');
        });
        $('.editPrinterCompanyModal').click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            name = encodeURIComponent(id);
            $('#modal-content').load('@Url.Action("EditPrinterCompany", "Printer")?id=' + id);
        });
        $('.deletePrinterCompanyModal').click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            name = encodeURIComponent(id);
            $('#modal-content').load('@Url.Action("DeletePrinterCompany", "Printer")?id=' + id);
        });

        var sortType = $('#sortType').attr("data-sortType");

        switch (sortType) {
            case "0":
                $('#sortType-0').attr("selected", "selected");
                break;
            case "1":
                $('#sortType-1').attr("selected", "selected");
                break;
        }
    </script>
}

